<footer>
<hr class="d-md-none rgba-white-light">
      <div class="col-md-12">
        <div class="mb-1 flex-center">
          <!-- Facebook -->
            <a class="icon m-2" href="#!" role="button">
            <i class="fab fa-facebook fa-lg"></i></a>
          <!-- Twitter -->
            <a class="icon m-2" href="#!" role="button">
            <i class="fab fa-twitter fa-lg"></i></a>
          <!--Instagram-->
            <a class="icon m-2" href="#!" role="button">
            <i class="fab fa-instagram fa-lg"></i></a>
        </div>
      </div>
   
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
