<footer class="pt-3 mt-5">
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row">

 <div class="container">
      <div class="col-md-12">
        <div class="mb-1 flex-center">

          <!-- Facebook -->
            <a class="btn  btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook fa-lg"></i></a>
          <!-- Twitter -->
            <a class="btn  btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter fa-lg"></i></a>
          <!--Instagram-->
            <a class="btn btn-floating m-1">
            <i class="fab fa-instagram fa-lg "></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>

</footer>