* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body,
p,
ol,
td {
  font-size: 15px;
  line-height: 18px;
}

.link {
  color: #333;
}

.apptitle:hover {
  text-decoration: none;
  color: #333;
}

nav {
  background-color: white;
  font-size: 18px;
}

nav ul li {
  border-bottom: 3px solid white;
}

footer {
  padding-top: 40px;
  background-color: #9fb083;
}

nav ul li:hover {
  border-bottom: 3px solid #a47c64;
}

.wrapper {
  min-height: calc(100vh - 290px);
}
.footer {
  height: 300px;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  line-height: 25px;
}

.btn {
  font-weight: bold;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #a47c64;
  border: solid 2px #a47c64;
  border-radius: 3px;
  transition: 0.4s;
}

.btn:hover {
  background: #a47c64;
  color: white;
}

.apptitle {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  padding-right: 50px;
}

.profileimg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.icon {
  color: #333;
  width: 30px;
}

a {
  color: #a47c64;
}

a:hover {
  color: #a47c64;
  text-decoration: none;
}

.line {
  border-bottom: 3px solid #a47c64;
  font-size: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
